<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(./../../../assets/login/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Sign Up
        </span>
      </div>

      <div class="container">
        <form class="from-group" #registerForm="ngForm">
          <br>
          <label for="name">Name*</label>
          <input class="form-control" type="text" [(ngModel)]='user.name' placeholder="Name" name="name" required
            #name="ngModel">
          <div class="danger" [hidden]="name.valid || name.pristine">
            required field*
          </div>
          <br>

          <label for="username">Username*</label>
          <input class="form-control" type="text" [(ngModel)]='user.username' placeholder="Username" name="username"
            required #username="ngModel">
          <div class="danger" [hidden]="username.valid || username.pristine">
            required field*
          </div>
          <br>

          <label for="password">Password*</label>
          <input class="form-control" type="password" [(ngModel)]='user.password' placeholder="Password" name="password"
            required minlength="6" #password="ngModel">

          <div class="danger" *ngIf="password.errors && password.dirty">
            <div *ngIf="password?.errors.required">
              required field*
            </div>
            <div *ngIf="password?.errors.minlength">
              weak password
            </div>
          </div>
          <br>

          <label for="email">Email*</label>
          <input class="form-control" type="text" [(ngModel)]='user.email' placeholder="Email" name="email" required
            email #email="ngModel">
          <!-- <div class="danger" [hidden]="email.valid || email.pristine">
        required field*
    </div> -->
          <div class="danger" *ngIf="email.errors && email.dirty">
            <div *ngIf="email?.errors.required">
              required field*
            </div>
            <div *ngIf="email?.errors.email">
              not a valid email*
            </div>
          </div>
          <br>

          <label for="address">Address*</label>
          <input class="form-control" type="text" [(ngModel)]='user.temporaryAddress' placeholder="Address"
            name="temporaryAddress" required #address="ngModel">
          <div class="danger" [hidden]="address.valid || address.pristine">
            required field*
          </div>
          <br>

          <label for="phoneNumber">Phone</label>
          <input class="form-control" type="number" [(ngModel)]='user.phoneNumber' placeholder="Phone Number"
            name="phoneNumber">
          <br>

          <label for="gender">Gender &nbsp;&nbsp;
            <!-- <input class="form-control" type="text" [(ngModel)]='user.gender' placeholder="Gender" name="gender"> -->
            <select name="gender" [(ngModel)]='user.gender'>
              <option value="male">male</option>
              <option value="female">female</option>
            </select>
          </label>
          <br>
          <button class="btn btn-primary" [hidden]=submitting (click)='register()' [disabled]="!registerForm.valid">
            Register</button>
          <button class="btn btn-primary" [hidden]='!submitting' [disabled]=submitting> Registering</button>
        </form>
        <br>
        <span>Already have an Account?<p>Login<a [routerLink]="['/auth/login']"> Here</a></p></span>
        <!-- <span>Already have an Account?<p>Login<a [routerLink]="/login"> Here</a></p></span> -->
        <br>
        <br>
      </div>
