<!-- <mat-toolbar color="primary">NEPASTORE</mat-toolbar> -->

<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    <img src="./../../assets/login/css/bootstrap-4.0.0/assets/brand/ns-logo.svg" width="30" height="30"
      class="d-inline-block align-top" alt="" >
  </a>
  <h2><strong>NEPASTORE</strong></h2>
</nav> -->

<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav"
  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="/auth/login"><strong>SajiloBazar</strong></a>
  </mdb-navbar-brand>
  <div>
  <links *ngIf="checkLogin()">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/auth/login']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Products</a>
      </li>
      <li class="nav-item" *ngIf="checkAdmin()">
        <a class="nav-link waves-light" mdbWavesEffect>Users</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Products<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/add']">Insert Product</a>
          <!-- <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/edit']">Edit Product</a> -->
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/list']">Fetch All Product</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/search']">Search Product</a>
        </div>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- <li class="nav-item"  align="right">
        <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
      </li> -->
      <li class="nav-item avatar dropdown" dropdown  align="right">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="./../../../assets/login/images/a.png" width=25% height=25% alt=""
            class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user']">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
</div>
  <!-- Collapsible content -->
</mdb-navbar>


